@import "../../shared/styles/Mixins";

header.header {
  
  // bottom left   -----------------------------

  nav.nav__btm {
    height: 50px;
    display: flex;
    align-items: center;
    transform: translateY(10px);
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);

    div.nav__bl {
      height: 100%;
      overflow: hidden;
      position: relative;
      margin-left: 20px;
      border-bottom: 1px solid #707070;

      ul.nav__list__bl {
        height: calc(100% + 15px);
        display: flex;
        align-items: center;
      }

      li.nav__item__bl:nth-child(1) {
        width: 100px;
        display: flex;
        justify-content: center;
      }
    }

    span.nav__vr {
      width: 1px;
      height: 25px;
      padding-left: 20px;
      border-right: 1px solid #e0e0e0;
    }

    // bottom right  ----------------------------

    div.nav__br {
      height: 100%;
      overflow: hidden;
      position: relative;

      ul.nav__list__br {
        height: calc(100% + 15px);
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;

        li.nav__item__br:nth-child(1),
        li.nav__item__br:nth-child(2),
        li.nav__item__br:nth-child(3),
        li.nav__item__br:nth-child(4),
        li.nav__item__br:nth-child(5),
        li.nav__item__br:nth-child(6),
        li.nav__item__br:nth-child(7),
        li.nav__item__br:nth-child(8),
        li.nav__item__br:nth-child(9),
        li.nav__item__br:nth-child(10),
        li.nav__item__br:nth-child(11),
        li.nav__item__br:nth-child(12),
        li.nav__item__br:nth-child(13),
        li.nav__item__br:nth-child(14),
        li.nav__item__br:nth-child(15),
        li.nav__item__br:nth-child(16) {
          padding: 0 40px 0 0;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          pointer-events: none;
          content: "";
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 2%,
            rgba(255, 255, 255, 0) 100%
          );
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 100%;
          height: 100%;
          pointer-events: none;
          content: "";
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0) 95%,
            rgba(255, 255, 255, 1) 100%
          );
        }
      }
    }
  }
}
